*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-family: $main-font;
  color: $title-theme-color;
  background: #ffffff;
}

img {
  display: block;
}

.list {
    list-style: none;
}
  
.link {
    text-decoration: none;
}
  
.address {
    font-style: normal;
}

button {
    font-family: inherit;
    cursor: pointer;
}