$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$title-theme-color: #212121;
$text-theme-color: #757575;
$animation-theme-color: #2196f3;
$animation-change-item: cubic-bezier(0.4, 0, 0.2, 1);