.social-list {
  display: flex;

  &-link:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: rgba(175, 177, 184, 1);
  transition: 250ms $animation-change-item;

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $animation-theme-color;
    fill: white;
  }
}

.social-svg {
  width: 20px;
  height: 20px;
}
