.team-person {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-theme-color;
  text-align: center;
  padding: 30px 0 10px;
}

.team-role {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $text-theme-color;
  text-align: center;
  padding-bottom: 16px;
}

.team {
  background-color: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-list {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &-title {
    margin-bottom: 50px;
  }

  &-contact {
    display: flex;
    justify-content: center;
    height: 74px;
    padding-bottom: 30px;
  }
}

.doing-discription {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  position: relative;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doing-text {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}


@media screen and (max-width: 767px) {
  .doing {
    display: none;
  }

  .team .container {
    height: auto;
    padding-top: 60px;
  }

  .team-title {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .team-contact {
    padding-bottom: 24px;
  }

  .team-list:not(:last-child) {
    margin-bottom: 30px;
  }

  .team-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .doing {
    display: none;
  }

  .team .container {
    height: auto;
    padding-top: 60px;
  }

  .team-title {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .team {
    display: flex;
    background-color: #f5f4fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    &-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .team-list:nth-child(2n + 1) {
    margin-right: 30px;
  }

  .team-list:not(:nth-child(1n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .doing .container {
    height: 574px;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .doing .container {
    height: 574px;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .doing-item {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .doing-title,
  .team-title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-theme-color;
  }

  .team-group {
    display: block;
    display: flex;
    justify-content: space-between;
  }

  .team-title {
    margin-bottom: 50px;
    text-align: center;
  }

  .team .container {
  padding-top: 94px;
  }
}




// .doing .container {
//   height: 574px;
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .doing-item {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 50px;
// }

// .doing-title,
// .team-title {
//   font-family: $main-font;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: $title-theme-color;
// }

// .team-person {
//   font-family: $main-font;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: $title-theme-color;
//   text-align: center;
//   padding: 30px 0 10px;
// }

// .team-role {
//   font-family: $main-font;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: $text-theme-color;
//   text-align: center;
//   padding-bottom: 16px;
// }

// .team .container {
//   height: 708px;
//   padding-top: 94px;
// }

// .team {
//   display: block;
//   background-color: #f5f4fa;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//   &-group {
//     display: flex;
//     justify-content: space-between;
//   }

//   &-list {
//     background-color: white;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//   }

//   &-title {
//     margin-bottom: 50px;
//   }

//   &-contact {
//     display: flex;
//     justify-content: center;
//     height: 74px;
//     padding-bottom: 30px;
//   }
// }

// .doing-discription {
//   width: 370px;
//   height: 70px;
//   background: rgba(47, 48, 58, 0.8);

//   position: relative;
//   bottom: 70px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .doing-text {
//   font-family: $main-font;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: #ffffff;
// }
