.footer {
  background-color: #2f303a;
  
  &-adress-link {
    color: white;
  }

  &-email-link,
  &-tel-link {
    color: rgba(255, 255, 255, 0.6);
  }

  &-tel-link,
  &-email-link,
  &-adress-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.container .logo-web {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $animation-theme-color;
}

.container .logo-studio {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}

.join-footer {
  // margin-left: 70px;
  // width: 206px;
  // height: 80px;

  &-title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
  }
}

.footer-social {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &-link {
    fill: white;
  }
}

.footer-social {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &-link {
    fill: white;
  }
}

.mailing {
  // margin: 0px 93px 94px;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
  // height: 86px;
  // width: 570px;

  &-title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
    // display: flex;
    // justify-content: space-between;
    // width: 570px;
  }

  &-button,
  &-button:hover,
  &-button:focus {
    width: 200px;
    height: 50px;

    background: $animation-theme-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: $animation-theme-color;
    border-style: none;
    border-radius: 4px;

    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px auto 0;
  }

  &-svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
  }
}

.contact-form__input {
  // width: 100%;
  height: 50px;
  padding: 0 16px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  background-color: #2f303a;
  
  &:placeholder-shown {
    padding-left: 16px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  &__input:hover,
  &__input:focus {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: white;
    outline: none;
  }
}

.footer-list {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .footer .container {
    padding: 60px 15px 60px;
    display: block;
  }

  .logo-footer {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
  }

  .contact-footer {
    max-width: 300px;
    margin: 20px auto;
  }

  .join-footer {
    padding-top: 60px;
    text-align: center;

    & .social-list {
      display: flex;
      justify-content: center;
    }
  }

  .mailing {
    padding-top: 60px;
    text-align: center;
    max-width: 570px;

    &-title {
      display: block;
      width: 100%;
      // margin-bottom: 20px;
    }
  }

  .mailing-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .contact-form__input {
    width: 100%;
    max-width: 570px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    padding: 60px 89px 60px 76px;
    // display: flex;
    // flex-wrap: wrap;
  }

  .logo-footer {
    width: 232px;
    height: auto;
    text-align: center;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 60px;
  }

  .join-footer {
    text-align: center;
  }

  .contact-footer {
    margin-top: 20px;
  }

  .mailing {
    text-align: center;
    width: 450px;
    margin: 0 auto;

    &-title {
      display: block;
      width: 100%;
      // margin-bottom: 20px;
    }
  }

  .mailing-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .contact-form__input {
    width: 100%;
    max-width: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    width: 507px;
  }

  .contact-footer {
    margin-top: 20px;
  }

  .mailing-form {
    min-width: 570px;
    display: flex;
    justify-content: space-between;
  }

  .mailing-title {
    width: 100%;
    margin-bottom: 0px;
  }

  .contact-form__input {
    width: 358px;
  }

  .mailing-button {
    display: inline-flex;
    margin-left: 12px;
  }
}





// .footer {
//   background-color: #2f303a;

//   &-list:not(:last-child) {
//     margin-bottom: 9px;
//   }

//   &-adress-link {
//     color: white;
//   }

//   &-email-link,
//   &-tel-link {
//     color: rgba(255, 255, 255, 0.6);
//   }

//   &-tel-link,
//   &-email-link,
//   &-adress-link {
//     font-family: $main-font;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//   }
// }

// .footer .container {
//   display: flex;
//   height: 252px;
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

// .contact-footer {
//   margin-top: 20px;
// }

// .container .logo-web {
//   font-family: $logo-font;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: $animation-theme-color;
// }

// .container .logo-studio {
//   font-family: $logo-font;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: white;
// }

// .join-footer {
//   margin-left: 70px;
//   width: 206px;
//   height: 80px;

//   &-title {
//     font-family: $main-font;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     color: #ffffff;
//     margin-bottom: 20px;
//   }
// }

// .footer-social {
//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 50%;

//   &-link {
//     fill: white;
//   }
// }

// .mailing {
//   margin: 0px 93px 94px;
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   height: 86px;
//   width: 570px;

//   &-title {
//     font-family: $main-font;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: #ffffff;
//     text-transform: uppercase;
//     display: flex;
//     justify-content: space-between;
//     width: 570px;
//   }

//   &-button,
//   &-button:hover,
//   &-button:focus {
//     width: 200px;
//     height: 50px;

//     background: $animation-theme-color;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-color: $animation-theme-color;
//     border-style: none;
//     border-radius: 4px;

//     font-family: $main-font;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;
//     letter-spacing: 0.06em;
//     color: #ffffff;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   &-svg {
//     width: 24px;
//     height: 24px;
//     fill: #ffffff;
//     margin-left: 10px;
//   }
// }

// .contact-form__input {
//   width: 358px;
//   height: 50px;
//   padding-left: 16px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   font-family: $main-font;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.25;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);
//   outline: none;
//   background-color: #2f303a;

//   &:placeholder-shown {
//     padding-left: 16px;
//     font-family: $main-font;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//   }

//   &__input:hover,
//   &__input:focus {
//     font-family: $main-font;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: white;
//     outline: none;
//   }
// }
