.header .container {
  display: flex;
  align-items: center;
  height: 60px;
  // justify-content: space-between;
}

.nav-list {
  &:first-child {
    margin-right: 15px;
  }
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &-tel-link,
  &-email-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $text-theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(117, 117, 117, 1);
  }
}

  .navigation .nav {
    display: flex;
    align-items: center;
  }

  .nav-list-link {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $title-theme-color;
    transition: all 250ms $animation-change-item;
  }

  .nav-list .current {
    color: $animation-theme-color;
    display: block;
    position: relative;
  }

  .studio-underline::after {
    content: "";
    position: absolute;
    background-color: $animation-theme-color;
    display: block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    margin-top: 29px;
  }

  .portfolio-underline::after {
    content: "";
    position: absolute;
    background-color: $animation-theme-color;
    display: block;
    border-radius: 2px;
    width: 76px;
    height: 4px;
    margin-top: 29px;
  }

  .address-svg {
    margin-right: 10px;
  }

  .nav-list-link:hover,
  .nav-list-link:focus,
  .header-tel-link:hover,
  .header-tel-link:focus,
  .header-email-link:focus,
  .header-email-link:hover {
    color: $animation-theme-color;
    fill: $animation-theme-color;
  }

@media screen and (max-width: 767px) {
  .header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);

    &-tel-link,
    &-email-link {
      display: none;
    }

    .nav-list-link {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    height: 80px;
  }

  .nav-list {
    &:nth-child(1n + 2) {
      margin-right: 50px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-list:not(:last-child) {
    margin-bottom: 10px;
  }
  .address .address-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-list:first-child {
    margin-right: 88px;
  }

  header-tel-link,
  header-email-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  &-tel-link,
  &-email-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $text-theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(117, 117, 117, 1);
  }

  .nav-list:first-child {
    margin-right: 93px;
  }

  .address .address-nav {
    display: flex;
    align-items: center;
  }

  .adress-list:not(:last-child) {
    margin-right: 50px;
  }
}

// .header .container {
//   display: flex;
//   align-items: center;
//   height: 80px;
//   justify-content: space-between;
// }

// .header {
//   border-bottom: 1px solid rgba(236, 236, 236, 1);

//   &-tel-link,
//   &-email-link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.02em;
//     color: $text-theme-color;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     fill: rgba(117, 117, 117, 1);
//   }
// }

// .navigation .nav {
//   display: flex;
//   align-items: center;
//   height: 80px;
// }

// .address .address-nav {
//   display: flex;
//   align-items: center;
// }

// .nav-list {
//   &:first-child {
//     margin-right: 93px;
//   }

//   &:nth-child(1n + 2) {
//     margin-right: 50px;
//   }

//   &-link {
//     font-family: $main-font;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.02em;
//     color: $title-theme-color;
//     transition: all 250ms $animation-change-item;
//   }
// }

// .nav-list .current {
//   color: $animation-theme-color;
//   display: block;
//   position: relative;
// }

// .adress-list:not(:last-child) {
//   margin-right: 50px;
// }

// .studio-underline::after {
//   content: "";
//   position: absolute;
//   background-color: $animation-theme-color;
//   display: block;
//   border-radius: 2px;
//   width: 48px;
//   height: 4px;
//   margin-top: 29px;
// }

// .portfolio-underline::after {
//   content: "";
//   position: absolute;
//   background-color: $animation-theme-color;
//   display: block;
//   border-radius: 2px;
//   width: 76px;
//   height: 4px;
//   margin-top: 29px;
// }

// .address-svg {
//   margin-right: 10px;
// }

// .nav-list-link:hover,
// .nav-list-link:focus,
// .header-tel-link:hover,
// .header-tel-link:focus,
// .header-email-link:focus,
// .header-email-link:hover {
//   color: $animation-theme-color;
//   fill: $animation-theme-color;
// }
