.portfolio-list-button-item {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: $title-theme-color;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px;
  border: none;

  &:hover,
  &:focus {
    background-color: $animation-theme-color;
    color: #ffffff;
    border: none;
    border-style: none;
    outline: none;
    transition: background-color 250ms $animation-change-item;
  }
}

.portfolio-group {
  display: flex;
  max-width: 100%;
}

.portfolio-list-button:not(:last-child) {
  margin-right: 8px;
}


@media screen and (max-width: 767px) {
  .portfolio-list-button {
    margin-bottom: 15px;
    max-width: 100%;
  }
  
  .portfolio-group {
    margin-bottom: 40px;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }
  
  .portfolio-list-button:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-group {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-group {
    justify-content: center;
  }
}


